
body {
   max-height: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
    background-color: yellow !important;
}

.edit-screen {
    overflow-y: auto;
}

.login-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
    height: 50%;
    
    border: 2px solid black;
    border-radius: 25px;
    width: 25%;
    top: 30%;
    left: 40%;
    padding: 20px;
    background-color: #fff;
    
    
   
}

.form-fill {
    width: 100%;
    
    margin-top: 20px;
    margin-right: 5px;
    /* border: #000 !important; */
    
}

td {
    word-break: break-word;
}

.new-employee-card {
    position: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-style:solid;
    border-color: black;
}



.modal.custom {
    
    margin: 0 auto;
    padding: auto;
}

.modal.button {
    margin: 2px;
}

.btn-container {
    padding: 2px;
    margin-top: 5px;
    width: 100%;
  
}

.form-container {
    display: flex;
    flex-direction: row;
    
    
}

.form-new-employee {
    flex: 1;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.second-header {
    width: 100%;
    height: 100px;
    background-color: #4e93c9;
}
.edit-form-container {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 5%;
    overflow-y: auto;


}

.avatar {
   
    flex: 1;
}

.edit-avatar {
    flex: .5;
    /* background-color: gray; */
}

.overlay {
   
   position:fixed;
   margin-left: 20%;
  --mask:
    radial-gradient(173.95px at 246.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 246px)/100% 492px,
    radial-gradient(173.95px at -123px 50%,#0000 99%,#000 101%) 123px 50%/100% 492px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
          background-color: #0B6DB5;
    /* max-height: 100px; */
    height: 100%;
    width: 100%;
    z-index: -1;
    
  
}



.kaseya-img {
    position:absolute;
    top: 10%;
    padding-left: 20px;
    
}

.new-user {
    align-items: right ;
    justify-content: right;
    text-align: center;
    padding-bottom: 10px;
}

.checkbox {
    margin-top: 10px;
    text-align: left;
    justify-content: left;
    align-items: left;
    align-content: center;
}

.pagination {
    justify-content: center;
}

.skills-radio {
    margin: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.radio-label {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-check {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-check-label {
    text-align: left;
}